
<h1>Editing Company</h1>

<%= form_for :company, url: { action: "update_company", id: @company.id } do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, wrap: "off", class: "span12", rows: 50 %>
  </div>

  <div class="actions">
    <%= f.submit t( "menu.update" ), 'data-disable-with' => t( "menu.update" ) %>
  </div>
<% end %>

<br />

<%= link_to "MyPage", action: "index" %>
| <%= link_to "Show", { action: "show_company", id: @company.id }, style: "display: inline;" %>
