
<ul class="nav nav-tabs nav-stacked">
  <li class="row span8 offset1 padding10">
    <% if Player.where( user_id: session[:user_id] ).exists? %>
      Player：
      <%= link_to "Show", { action: "show_player" }, style: "display: inline;" %>
      <%= link_to "Edit", { action: "edit_player" }, style: "display: inline;" %>
    <% else %>
      <%= link_to "Entry Player", action: "new_player" %>
    <% end %>
  </li>
</ul>

<ul class="nav nav-tabs nav-stacked">
  <li class="row span2 offset1 padding10">
    <%= link_to "Entry Company", action: "new_company" %>
  </li>
</ul>

<table class="offset1">
  <thead>
    <tr>
      <th class="span4">Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% @companies.each{ |company| %>
  <tbody>
    <tr>
      <td><%= company.name %></td>
      <td><%= link_to "Show", { action: "show_company", id: company.id }, style: "display: inline;" %></td>
      <td><%= link_to "Edit", { action: "edit_company", id: company.id }, style: "display: inline;" %></td>
    </tr>
  </tbody>
  <% } %>
</table>
