
<h1>Entry Corporation</h1>

<%= form_for :corporation, url: { action: "entry_corporation" } do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit "Entry", 'data-disable-with' => "Entry" %>
  </div>
<% end %>

<br />

<%= link_to "MyPage", action: "index" %>
