
<h1>Entry Company</h1>

<%= form_for :company, url: { action: "entry_company" } do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, wrap: "off", class: "span12", rows: 50 %>
  </div>

  <div class="actions">
    <%= f.submit "Entry", 'data-disable-with' => "Entry" %>
  </div>
<% end %>

<br />

<%= link_to "MyPage", action: "index" %>
